@model Projekt_ASP_NET.ViewModels.EditUserViewModel

<h2>Edytuj Dane Użytkownika</h2>

@using (Html.BeginForm("EditUser", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    ;

    <div class="form-group">
        <span>Login:</span>
        @Html.TextBoxFor(x => x.UserName)
    </div>

    <div class="form-group">
        <span>Email:</span>
        @Html.TextBoxFor(x => x.Email)
    </div>

    <div class="form-group">
        <span>Miejscowość:</span>
        @Html.TextBoxFor(x => x.Locality)
    </div>

    <div class="form-group">
        <span>Ulica:</span>
        @Html.TextBoxFor(x => x.Street)
    </div>

    <div class="form-group">
        <span>Numer domu/mieszkania:</span>
        @Html.TextBoxFor(x => x.StreetNumber)
    </div>

    <button type="submit">Zapisz zmiany</button>
}