@model Projekt_ASP_NET.ViewModels.VehicleViewModel

@using (Html.BeginForm("Edit", "Vehicle", FormMethod.Post))
{
    @Html.ValidationSummary()
    ;

    @Html.HiddenFor(x => x.Vehicle.Id)

    <span>Nazwa pojazdu: </span>
    @Html.TextBoxFor(x => x.Vehicle.Name)
    <br />

    <span>Typ pojazdu: </span>
    @Html.TextBoxFor(x => x.Vehicle.Type)
    <br />

    <span>Cena za godz [zł]: </span>
    @Html.TextBoxFor(x => x.Vehicle.PricePerHour)
    <br />

    <span>Cena za dzień [zł]: </span>
    @Html.TextBoxFor(x => x.Vehicle.PricePerDay)
    <br />

    <span>Cena za miesiąc [zł]: </span>
    @Html.TextBoxFor(x => x.Vehicle.PricePerMonth)
    <br />

    <span>Cena kupna [zł]: </span>
    @Html.TextBoxFor(x => x.Vehicle.PurchasePrice)
    <br />

    <span>Marka: </span>
    @Html.TextBoxFor(x => x.Vehicle.Brand)
    <br />

    <span>Długość [m]: </span>
    @Html.TextBoxFor(x => x.Vehicle.Length)
    <br />

    <span>Szerokość [m]: </span>
    @Html.TextBoxFor(x => x.Vehicle.Width)
    <br />

    <span>Waga [kg]: </span>
    @Html.TextBoxFor(x => x.Vehicle.Weight)
    <br />

    <span>Kolor: </span>
    @Html.TextBoxFor(x => x.Vehicle.Color)
    <br />

    <span>Konie mechaniczne [km]: </span>
    @Html.TextBoxFor(x => x.Vehicle.Horsepower)
    <br />

    <span>Dostępność: </span>
    @Html.CheckBoxFor(x => x.Vehicle.IsAvailable)
    <br />

    <span>Czy to pojazd elektryczny: </span>
    @Html.CheckBoxFor(x => x.Vehicle.IsElectricVehicle)
    <br />

    <span>Czy to pojazd spalinowy: </span>
    @Html.CheckBoxFor(x => x.Vehicle.IsCombustionVehicle)
    <br />

    @Html.DropDownListFor(x => x.Vehicle.BranchId, Model.Branches, "Wybierz oddział", new { @class = "form-control" })
    <br />
    <button type="submit" asp-area="" asp-action="Edit" asp-controller="Vehicle">Zapisz zmiany</button>
}